body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* General Calculator styling */

#calculator {
    margin-top: 30px;
    margin-bottom: 20px;
    padding: 10px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 610px;
    width: 450px;
    background-color: #F06262;
    border: 3px solid black;
    border-radius: 15px;
}

/* Display */

#display-container {
    height: 180px;
    width: 400px;
    background-color: white;
    border: 3px solid black;
    border-radius: 10px;
}

/* Upper part of display */

#upper-display-container {
    margin-top: 20px;
    height: 25%;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

#upper-display {
    font-family: monaco;
    font-size: 20px;
    margin-right: 20px;
    margin-bottom: 25px;;
}

/* Lower part of the display */

#lower-display-container {
    height: 55%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

#lower-display {
    margin-right: 10px;
    margin-bottom: 10px;
    font-family: monaco;
    font-size: 35px;
}

/* Keyboard */
#keyboard-top {
    display: flex;
    width: 450px;
    justify-content: center;
    gap: 10px;
}

#keyboard-top > * {
    flex-basis: 195px;
    height: 70px;

}

#keyboard-bottom {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    justify-content: center;
    gap: 10px;
}

#keyboard-bottom > button {
    flex-basis: 92px;
    height: 70px;
}

button {
    border: 3px solid black;
    border-radius: 10px;
    font-family: monaco;
    font-size: 20px;
}

#clear, #delete {
    background-color: #9E2D2D;
    color:white;
}

/* footer */ 

p {
    font-family: monaco;
}

i {
    font-size: 30px;
}

a:visited {
    color:black;
}